<include src="./modules/header.html"></include>
<!--====form section start====-->
<div class="user-detail">
    <h2>Log in</h2>
    <form action="/users/create" method="POST">
          <label>Username</label>
          <input type="text" placeholder="Enter username" name="fullName" required>
          <label>Password</label>
          <input type="password" placeholder="Enter Email Address" name="emailAddress" required>
          <button type="submit">Log in</button>
        </div>
</div>
<!--====form section end====-->
</body>
</html>